.alert{
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    position:relative; 
    display: inline-flex;
    margin-top: 3px;
    margin-bottom: 0;
  }

.dashboard{
    background: lightgray;
    border-radius: 5px;
    border-width:thick;
}