.alert{
    color: red;
    padding: 10px;
    border-radius: 0;
    position: relative; 
    display:inline;
    margin-top: 10px;
  }

.dashboard{
    background: lightgray;
    border-radius: 5px;
    border-width:thick;
}